{% extends "bassee.html" %}

{% block content %}
<div id="loading"></div>
<div id="content">
<section id="slider-wrapper" class="layer-slider-wrapper layer-slider-dynamic">
    <div id="layerslider" style="width:100%;">   
        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
            <!-- slide background -->
            <div class="mask mask-1" class="ls-l"></div>
            <img src="static/images/backgrounds/full-bg-8.jpg" class="ls-bg" alt="Slide background"/>
            
            <!-- Left Text -->
            <h3 class="ls-l title-lg c-white text-uppercase text-center strong" style="width:100%; top:25%; left:0;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                Welcome to FOMO
            </h3>
            <h3 class="ls-l title c-white text-bordered text-uppercase text-center strong" style="top:45%; left:53%;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                what you missed out while you're coding
            </h3>



            <button type="button" class="btn btn-primary-outline" style="font-size: 20;">
            <h3 class="ls-l title c-white text-uppercase text-center strong" style="width:100%; top:62%; left:0;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                <a style="text-decoration: none; font-size: 50pt; color: #00B59D;" href="{{ url_for("login") }}" onclick="return loading();">Let's GO</a>
            </h3>
            </button>
        </div>
        
        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
            <!-- slide background -->
            <div class="mask mask-1" class="ls-l"></div>
            <img src="static/images/backgrounds/full-bg-13.jpg" class="ls-bg" alt="Slide background"/>
            
            <!-- Left Text -->
            <h3 class="ls-l title-lg c-white text-uppercase text-center strong" style="width:100%; top:25%; left:0;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                Welcome to FOMO
            </h3>
            <h3 class="ls-l title c-white text-bordered text-uppercase text-center strong" style="top:45%; left:53%;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                what you missed out while you're coding!
            </h3>

            <button type="button" class="btn btn-primary-outline" style="font-size: 20;">
            <h3 class="ls-l title c-white text-uppercase text-center strong" style="width:100%; top:62%; left:0;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                <a style="text-decoration: none; font-size: 50pt; color: #00B59D;" href="{{ url_for("login") }} onclick="return loading();"">Let's GO</a>
            </h3>
            </button>
        </div>

        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
            <!-- slide background -->
            <div class="mask mask-1" class="ls-l"></div>
            <img src="static/images/backgrounds/full-bg-11.jpg" class="ls-bg" alt="Slide background"/>
            
            <!-- Left Text -->
            <h3 class="ls-l title-lg c-white text-uppercase text-center strong" style="width:100%; top:25%; left:0;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                Welcome to FOMO
            </h3>
            <h3 class="ls-l title c-white text-bordered text-uppercase text-center strong" style="top:45%; left:53%;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                what you missed out while you're coding!
            </h3>

            <button type="button" class="btn btn-primary-outline" style="font-size: 20;">
            <h3 class="ls-l title c-white text-uppercase text-center strong" style="width:100%; top:62%; left:0;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                <a style="text-decoration: none; font-size: 50pt; color: #00B59D;" href="{{ url_for("login") }} " onclick="return loading();">Let's GO</a>
            </h3>
            </button>

            <button onclick="$('#loading').show();">haha</button>
        </div>   
    </div>
</section>
</div>

<script type="text/javascript">
    function loading(){
        $("body").css( "background", "black" );
        $("body").css( "cursor", "wait" );
        $("#loading").show();
        $("#content").hide();       
    }
</script>
{% endblock %}